.navigation-container {
    background-color: var(--nav-color);
   color: white;
}

.navbar-light,  .navbar, .navbar-expand-md, .navbar-brand,  .nav-link {
    color: var(--font-color) !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}
.links {

}

.links:hover {
    background-color: var(--font-color-hover);
}